<div class="dashboard-header">
  <h5>Dashboard</h5>
</div>

<div class="dashboard-widget">
  <mat-card class="widget-blue widget-mini" >
    <mat-card-header>
      <mat-card-title>Regions</mat-card-title>
    </mat-card-header>
    <button mat-icon-button class="widget-button-settings">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content>
      <app-employee-widget/>
    </mat-card-content>
  </mat-card>

  <mat-card class="widget-indigo widget-small" >
    <mat-card-header>
      <mat-card-title>Employee</mat-card-title>
    </mat-card-header>
    <button mat-icon-button class="widget-button-settings">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content>
      <app-employee-widget/>
    </mat-card-content>
  </mat-card>

  <mat-card class="widget-light widget-medium" >
    <mat-card-header>
      <mat-card-title>Employee</mat-card-title>
    </mat-card-header>
    <button mat-icon-button class="widget-button-settings">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-content>
      <app-analytic-widget />
    </mat-card-content>
  </mat-card>
</div>
