<app-header [sidenav]="sidenav()" [sidenavCollapsed]="sidenavCollapsed()" (onChangeModeSidenavFromHeader)="onChangeModeSidenavFromHeader()" />

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWith()">
    <app-side-nav-list [sidenav]="sidenav()" [sidenavCollapsed]="sidenavCollapsed()" (onChangeModeSidenavFromList)="onChangeModeSidenavFromList()" />
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="sidenavWith()">
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
