<!-- Student catalogue -->
<div class="table-wrapper">
  <h3>{{ 'location.title' | translate }}</h3>

  <button mat-raised-button (click)="onAddItem()" >
    <mat-icon>add</mat-icon> Add Location
  </button>

  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort matSortActive="streetAddress" matSortDirection="asc">

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ 'location.datatable.id' | translate }} </th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'location.datatable.streetAddress' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.streetAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'location.datatable.postalCode' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.postalCode }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'location.datatable.city' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.city }}</td>
    </ng-container>

    <ng-container matColumnDef="stateProvince">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'location.datatable.stateProvince' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.stateProvince }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> {{ 'location.datatable.actions' | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" [ngClass]="{'editable-row': locationData.id === row.id }" mat-row></tr>
  </table>
  <!-- Paginator child component-->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>


</div>
